<div class="card">
  <h5 class="card-header card-header-color">User registartion</h5>
  <div class="card-body">
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">{{formTitle}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addForm" (ngSubmit)="addUser()">
            <div class="row mb-3">
              <div class="form-group col">
                <label>Title</label>
                <select class="form-control" formControlName="title" [ngClass]="{'is-invalid' : submitted && ctrl['title'].errors}">
                  <option value="">--Select title--</option>
                  <option value="Mr">Mr</option>
                  <option value="Mrs">Mrs</option>
                  <option value="Ms">Ms</option>
                  <option value="Miss">Miss</option>
                </select>
                <div *ngIf="submitted && ctrl['title'].errors" class="invalid-feedback">
                  Title is required
                </div>
              </div>
              <div class="form-group col-5">
                <label>First Name</label>
                <input type="text" class="form-control" formControlName="firstName" placeholder="Enter First Name"
                [ngClass]="{'is-invalid' : submitted && ctrl['firstName'].errors}">
                <div *ngIf="submitted && ctrl['firstName'].errors" class="invalid-feedback">
                  <div *ngIf="ctrl['firstName'].errors['required']">first name is required</div>
                  <div *ngIf="ctrl['firstName'].errors['minlength']">first name should be min 3 char long</div>
                  <div *ngIf="ctrl['firstName'].errors['maxlength']">first name should be max 10 char long</div>
                </div>
              </div>
              <div class="form-group col-5">
                <label>Last Name</label>
                <input type="text" class="form-control" formControlName="lastName" placeholder="Enter Last Name"
                [ngClass]="{'is-invalid' : submitted && ctrl['lastName'].errors}">
                <div *ngIf="submitted && ctrl['lastName'].errors" class="invalid-feedback">
                  <div *ngIf="ctrl['lastName'].errors['required']">Last name is required</div>
                  <div *ngIf="ctrl['lastName'].errors['minlength']">last name should be min 5 char long</div>
                  <div *ngIf="ctrl['lastName'].errors['maxlength']">last name should be max 10 char long</div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-group col-5">
                <label>Date of Birth</label>
                <input type="date" class="form-control" formControlName="dob" placeholder="Enter DOB"
                [ngClass]="{'is-invalid' : submitted && ctrl['dob'].errors}">
                <div *ngIf="submitted && ctrl['dob'].errors" class="invalid-feedback">
                  <div *ngIf="ctrl['dob'].errors['required']">DOB is required</div>
                  <div *ngIf="ctrl['dob'].errors['pattern']">DOB must be a valid date in the format YYYY-MM-DD</div>
                </div>
              </div>
              <div class="form-group col-5">
                <label>Email</label>
                <input type="text" class="form-control" formControlName="email" placeholder="Enter Email ID"
                [ngClass]="{'is-invalid' : submitted && ctrl['email'].errors}">
                <div *ngIf="submitted && ctrl['email'].errors" class="invalid-feedback">
                  <div *ngIf="ctrl['email'].errors['required']">Email Id is required</div>
                  <div *ngIf="ctrl['email'].errors['email']">Email Id must be valid</div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-group col-5">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Enter Password"
                [ngClass]="{'is-invalid' : submitted && ctrl['password'].errors}">
                <div *ngIf="submitted && ctrl['email'].errors" class="invalid-feedback">
                  <div *ngIf="ctrl['password'].errors['required']">Password is required</div>
                  <div *ngIf="ctrl['password'].errors['minlength']">Password must be 6 chars long</div>
                </div>
              </div>
              <div class="form-group col-5">
                <label>Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Enter Confirm Password"
                [ngClass]="{'is-invalid' : submitted && ctrl['confirmPassword'].errors}">
                <div *ngIf="submitted && ctrl['confirmPassword'].errors" class="invalid-feedback">
                  <div *ngIf="ctrl['confirmPassword'].errors['required']">Confirm Password is required</div>
                  <div *ngIf="ctrl['confirmPassword'].errors['mustMatch']">Password and Confirm Password must be same</div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-group col form-check">
                <input type="checkbox" class="form-check-input" id="acceptTerms" formControlName="acceptTerms"
                [ngClass]="{'is-invalid' : submitted && ctrl['acceptTerms'].errors}">
                <label for="acceptTerms" class="form-check-lebel">Accept terms & conditions</label>
                <div *ngIf="submitted && ctrl['acceptTerms'].errors" class="invalid-feedback">
                  <div *ngIf="ctrl['acceptTerms'].errors['required']">Accept terms & conditions is required</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group text-center">
                <button type="submit" class="btn btn-success me-2">{{buttonText}}</button>
                <button type="button" class="btn btn-danger" (click)="cancelForm()">Cancel</button>
              </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>
    <h5 class="modal-title">User List</h5>
    <div style="text-align: right;">
      <button class="btn btn-outline-primary mb-2 me-2" (click)="openXl(content)">Add User</button>
    </div>
    <div class="form-row">
      <div class="form-group col">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>DOB</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let user of userData">
          <td>{{user.title}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.dob}}</td>
          <td>{{user.email}}</td>
          <td>
            <i class="fa fa-edit me-3" style="color:green;" (click)="edit(user.id)"></i>
            <i class="fa fa-trash-o me-3" style="color:red;" (click)="delete(user.id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>
    
  </div>
</div>

